<app-sidebar></app-sidebar>

<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <app-header></app-header>
    <!-- /#header -->
    <!-- Content -->
    <div class="content">
        <div class="row justify-content-center align-items-center pt-5">
            <div class="col-md-8">
                <div class="ct_set_bank_bg_form">
                    <form [formGroup]="contactUsForm" (ngSubmit)="onUpdate(contactUsForm)">
                        <h4>Contact Management</h4>
                        <div class="form-group" hidden>
                            <label for="Name">Phone Number</label>
                            <input type="text" placeholder="Enter Phone Number" class="form-control"
                                formControlName="id" >
                            <!-- <span class="text-danger"
                            *ngIf="createRace.get('race_venue')?.invalid && createRace.get('race_venue')?.touched">
                            <div *ngIf="createRace.get('race_venue')?.errors?.['required']">
                              Please enter race venue
                            </div>
                          </span> -->
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Name">Phone Number</label>
                                    <input type="text" placeholder="Enter Phone Number" class="form-control"
                                        formControlName="phone" >
                                    <!-- <span class="text-danger"
                                    *ngIf="createRace.get('race_venue')?.invalid && createRace.get('race_venue')?.touched">
                                    <div *ngIf="createRace.get('race_venue')?.errors?.['required']">
                                      Please enter race venue
                                    </div>
                                  </span> -->
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Name">Email</label>
                                    <input type="text" placeholder="Enter email" class="form-control"
                                        formControlName="email">
                                    <!-- <span class="text-danger"
                                    *ngIf="createRace.get('race_number')?.invalid && createRace.get('race_number')?.touched">
                                    <div *ngIf="createRace.get('race_number')?.errors?.['required']">
                                      Please enter race number
                                    </div>
                                  </span> -->
                                </div>
                            </div>

                            <div class="form-group d-flex flex-column">
                                <label for="Name">Address</label>
                                <textarea class="form-control" name="address" id="" cols="50"
                                    rows="2" formControlName="address"></textarea>
                                <!-- <span class="text-danger"
                                    *ngIf="createRace.get('city')?.invalid && createRace.get('city')?.touched">
                                    <div *ngIf="createRace.get('city')?.errors?.['required']">
                                      Please enter race city
                                    </div>
                                  </span> -->
                            </div>
                        </div>
                        <div class="ct_two_btn_btm">
                            <button type="submit" class="ct_short_btn my-0  px-4 py-2 text-center"
                                style="width: 180px;"> Save</button>
                            <button type="button" class="ct_short_btn my-0  border_red_btn"
                                routerLink="/todays_race">Cancel</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>


    </div>


    <footer class="ct_dash_footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">Copyright &copy; 2023 TipTwo Admin</div>
            </div>
        </div>
    </footer>
</div>