<app-sidebar></app-sidebar>


<div id="right-panel" class="right-panel">
    <!-- Header-->
<app-header></app-header>
    <!-- /#header -->
    <!-- Content -->
    <div class="content">
      <!-- Animated -->
      <div class="animated fadeIn">
         
          <div class="row">
              <div class="col-xl-3 col-lg-6 mb-4">
                <div class="ct_card_box ct_state_perform_card">
                 <div class="ct_card_flex">
                  <img src="images/calendar.png" alt="images/calendar.png">
                  <h4 class="mb-0">DATE JOINED</h4>
                 </div>
                  <h2>1/7/2023</h2>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 mb-4">
                <div class="ct_card_box ct_state_perform_card">
                  <div class="ct_card_flex">
                    <img src="images/bank.png" alt="">
                    <h4 class="mb-0">STARTING BANK</h4>
                  </div>
                  <h2>$5,000.00</h2>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 mb-4">
                <div class="ct_card_box ct_state_perform_card">
                  <div class="ct_card_flex">
                    <img src="images/profitLose.png" alt="">
                    <h4 class="mb-0">Profit/Lose</h4>
                  </div>
                  <h2 class="">$ 1,705.00</h2>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 mb-4">
                <div class="ct_card_box ct_state_perform_card">
                  <div class="ct_card_flex">
                    <img src="images/balance.png" alt="">
                    <h4 class="mb-0">Balance</h4>
                  </div>
                  <h2>$ 6,481.50</h2>
                </div>
              </div>

            </div>
            <div class="table-responsive ct_races_table ct_vanue_table p-0 ct_bg_none ct_transaction_table_div ct_table_200 ct_border_width_1">
         
              <table class="table " id="example"  >
                <!-- <thead class="ct_last_sub_total_tbl ct_bringle_bg_sep ">
                  <tr class="ct_sub_head_tble">
                    <th>Totals <i class="fa-solid fa-arrow-right-long ms-2"></i></th>
                    <th>35</th>
                    <th>25</th>
                    <th>71.43%</th>
                    <th>$2,235.00</th>
                    <th>-530</th>
                    <th>$7,563.00</th>
                    <th>29.55%</th>
                    <th>$216.09</th>
                    <th>$223.50</th>
                    <th></th>
                    
                  </tr>
                 </thead> -->
               <thead class="ct_brown_bg_sep ">
                  <tr>
                    <th>Date</th>
                    <th>Bets </th>
                    <th>Wins </th>
                    <th>Win%</th>
                    <th>Profit</th>
                    <th>Lose</th>
                    <th>Investment</th>
                    <th>ROI</th>
                    <th>Ave Bet</th>
                    <th>Commission Paid</th>
                    <th>Bank</th>
                  </tr>
                
               </thead>
              
               <tbody>
                <tr>
                  <td>1/07/2023</td>
                  <td>3</td>
                  <td>2</td>
                  <td>66.67 </td>
                  <td></td>
                  <td class="ct_red_text"> - $ 1436.00</td>
                  <td>$ 1436.00</td>
                  <td class="ct_red_text">28.41%</td>
                  <td>$ 130.00</td>
                  <td></td>
                  <td>$130.00</td>
                </tr>
                <tr>
                  <td>1/07/2023</td>
                  <td>3</td>
                  <td>2</td>
                  <td>66.67 </td>
                  <td>$ 1436.00</td>
                  <td> </td>
                  <td>$ 1436.00</td>
                  <td>32.41%</td>
                  <td>$ 130.00</td>
                  <td>$ 130.00</td>
                  <td>$130.00</td>
                </tr>
               
                <tr>
                  <td>1/07/2023</td>
                  <td>3</td>
                  <td>2</td>
                  <td>66.67 </td>
                  <td></td>
                  <td class="ct_red_text">- $ 1436.00</td>
                  <td>$ 1436.00</td>
                  <td class="ct_red_text">28.41%</td>
                  <td>$ 130.00</td>
                  <td></td>
                  <td>$130.00</td>
                </tr>

                <tr>
                  <td>1/07/2023</td>
                  <td>3</td>
                  <td>2</td>
                  <td>66.67 </td>
                  <td></td>
                  <td class="ct_red_text">- $ 1436.00</td>
                  <td>$ 1436.00</td>
                  <td class="ct_red_text">28.41%</td>
                  <td>$ 130.00</td>
                  <td></td>
                  <td>$130.00</td>
                </tr>

                <tr>
                  <td>1/07/2023</td>
                  <td>3</td>
                  <td>2</td>
                  <td>66.67 </td>
                  <td>$ 1436.00</td>
                  <td></td>
                  <td>$ 1436.00</td>
                  <td>32.41%</td>
                  <td>$ 130.00</td>
                  <td>$ 130.00</td>
                  <td>$130.00</td>
                </tr>
                <tr>
                  <td>1/07/2023</td>
                  <td>3</td>
                  <td>2</td>
                  <td>66.67 </td>
                  <td>$ 1436.00</td>
                  <td></td>
                  <td>$ 1436.00</td>
                  <td>32.41%</td>
                  <td>$ 130.00</td>
                  <td>$ 130.00</td>
                  <td>$130.00</td>
                </tr>
                <tr>
                  <td>1/07/2023</td>
                  <td>3</td>
                  <td>2</td>
                  <td>66.67 </td>
                  <td>$ 1436.00</td>
                  <td></td>
                  <td>$ 1436.00</td>
                  <td>32.41%</td>
                  <td>$ 130.00</td>
                  <td>$ 130.00</td>
                  <td>$130.00</td>
                </tr>
                <tr>
                  <td>1/07/2023</td>
                  <td>3</td>
                  <td>2</td>
                  <td>66.67 </td>
                  <td>$ 1436.00</td>
                  <td></td>
                  <td>$ 1436.00</td>
                  <td>32.41%</td>
                  <td>$ 130.00</td>
                  <td>$ 130.00</td>
                  <td>$130.00</td>
                </tr>
                
                <tr>
                  <td>1/07/2023</td>
                  <td>3</td>
                  <td>2</td>
                  <td>66.67 </td>
                  <td>$ 1436.00</td>
                  <td></td>
                  <td>$ 1436.00</td>
                  <td>32.41%</td>
                  <td>$ 130.00</td>
                  <td>$ 130.00</td>
                  <td>$130.00</td>
                </tr>
                
                <tr>
                  <td>1/07/2023</td>
                  <td>3</td>
                  <td>2</td>
                  <td>66.67 </td>
                  <td>$ 1436.00</td>
                  <td></td>
                  <td>$ 1436.00</td>
                  <td>32.41%</td>
                  <td>$ 130.00</td>
                  <td>$ 130.00</td>
                  <td>$130.00</td>
                </tr>
                
                <tr>
                  <td>1/07/2023</td>
                  <td>3</td>
                  <td>2</td>
                  <td>66.67 </td>
                  <td>$ 1436.00</td>
                  <td></td>
                  <td>$ 1436.00</td>
                  <td>32.41%</td>
                  <td>$ 130.00</td>
                  <td>$ 130.00</td>
                  <td>$130.00</td>
                </tr>
                
                
               </tbody>
             
              </table>
             </div>
     
        
        </div>
      </div>



      <!-- Edit Table Data Modal S -->
      <div class="modal fade" id="ct_edit_tble_data" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header border-0">
              <button type="button" class=" ct_tble_close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body ">
              <h4 class="text-center mb-4"><strong>Did I follow the Plan ?</strong></h4>
              <form action="#" class="ct_edit_tble_form">
                <div class="form-group mb-3">
                  <label>Date</label>
                  <input type="date" class="form-control" value="14-08-2023">
                </div>
                <div class="form-group mb-3">
                  <label>Betting Plan</label>
                  <input type="text" class="form-control" value="Race 1: Bet on Horse A to win">
                </div>

                <div class="form-group mb-3">
                  <label>Followed Plan?</label>
                  <select class="form-control">
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label>Reasons for Deviation</label>
                  <input type="text" class="form-control" value="N/A">
                </div>

                <div class="form-group ">
                  <label>Lessons Learned</label>
                <textarea rows="4" class="form-control">Following the plan led to a successful outcome.</textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer border-0 pb-4">
              <button type="button" class="ct_short_btn mt-0">Save</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Table Data Modal E -->
    
      </div>