.ct_vanue_table  td{
    text-transform: none !important;
}
.short_btn{
    padding: 6px 15px;
    background: linear-gradient(144deg, #422CB3 0%, #540072 99.67%);
    border: 1px solid #7216f4;
    color: #fff !important;
    font-weight: 500;
    border-radius: 10px;
    width: 107px;
    text-align: center;
    margin: auto;
    transition: 0.4s ease;
    position: relative;
    z-index: 1;
}